@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Barlow:ital,wght@1,100&family=Bungee&family=Concert+One&family=Courgette&family=Inspiration&family=Montserrat:wght@400;600;900&family=Oleo+Script+Swash+Caps:wght@400;700&family=Open+Sans:wght@300&family=PT+Serif:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --background:#7e6c71;
    --primary:#eef6b0;
    --secondary:#74a7e4;
    --btn-bg:#65727c;
   --bg-azul-10:#172c3f;
  --bg-white:#f9f3f4;
  --bg-electric:#ecdbdf;




}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}


header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    height: 60px;
    position: fixed;
    background: #f5f5f5;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

img.logo {
    
    width: 100px;
     margin-left: 10px;    
     margin-top: 20px;
}


.menu_items {
    display: flex;
    list-style: none;
margin-right: 10px;
gap: 20px;

}


.menu_items li a{
    font-size: 13px;
    text-decoration: none;
    color: black;
    font-family:'Times New Roman', Times, serif;
    
    
    
}
.menu_items li a:hover{
    background-color:bisque;
    padding: 1px;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: 0.2s;
    font-weight: bold;
    
}


main {
    background: linear-gradient(0deg, rgba(255,228,196,1) 40%, rgba(245,245,245,1) 84%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  } 


#portada {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    max-width: 1200px;
    margin-top: 65px;

    
}
.portada-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 62px;
    gap: 20px;
    width: 50%;
    
}

.portada-info h1{
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    color: var(--background);
}

.portada-info p{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color:var(--bg-azul-10);
}


.portada-info p > span{
    font-size: 20px;
    font-weight: 900;
    color:var(--secondary);
}


.portada-info a{
    color: var(--bg-white);
    background-color:var(--bg-azul-10);
    width: 25%;
    padding: 5px 0;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    
}

.rkt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a.oft{
    background-color: var(--background);
}

.portada{
    width: 450px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    
    
}

.portada img{
    display: flex;
    border-radius: 20px;
}

#infor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
   margin: 10px;
}

.info {
 max-width: 1200px;
    
}

.info p{
    font-size: 20px;
    font-family:cursive
    font-weight: 400;
    text-align: center;
}


#cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    padding: 30px 0;
}

#cards h2{

    font-size: 35px;
    font-weight: 900;
    padding: 30px 0;
    letter-spacing: 3px;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.cards-info{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    background: var(--bg-azul-10);
}

.cards-info img{
    width: 50%;
    margin-bottom: 10px;
}

.cards-info h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    color: white;
}

.cards-info p{
    font-size: 13px;
    margin: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

i{
    color: white;
    margin-top: 5px;
}